@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

  .bold{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    
  }
  h2{
    
    margin-top: 25px;
    text-align: center;
  }
  .zagolovok{
    text-align: center;
  }
.main-tovar{
    flex-direction: row; flex-wrap: wrap; display: flex;
  }
  
  .all {
    margin-top: 31px;
  }
.tovar {
    margin: 10px;
    padding: 10px;
    border: 1px solid #434242;
    border-radius: 10px;
  }
 .tovar img {
    margin: 0 auto;
    width: 100%;
  }
 .tovar p {
    margin: 0 auto;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #000000;
  }
.tovar .podrobnee {
    margin-left: 10%;
    width: 80%;
    height: 42px;
    background: #f9c402;
    border: 2px solid #3e3d3d;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #434242;
  }
  
  button{
    outline: none;
  }

  @media (max-width: 767px) {
    iframe {
      display: none;
    }
  }